

        <section id="viewCatalog" class="background-img">
            <!--If there are one or more toys-->
              {{#if charities}}
            <div class="added-toys">
                {{#each charities}}
                {{>charity}}
                {{/each}}
            </div>
            {{else}}

            <!--If there are no toys in catalog yet-->
            <div class="guest">
                There are no toys found...
            </div> 
            {{/if}}
        </section>

