  <a href="#" class="added-toys-in-market">
                        <img src="./image/picture2.jpg" class="picture-added-toys">
                        <h3>Christmas felt set Christmas ornament</h3>
                        <span>Price: $76.00</span>
                    </a>