[x]Use of templates
[x]Use of Database
[]Use of express plugin libraries


[]User registration
[]-Cookies and session
[]-Hashing passwords
[]-jsonwebtoken

[]Error Handling

Full CRUD(application specific)
-catalog
-details
-create
-edit
-delete

Demo global error handling
